brevitas==0.11.0
graphviz==0.21
hls4ml==1.1.0
importlib-metadata==8.6.1
ipykernel==6.29.5
ipympl==0.9.7
mplcursors==0.6
mplhep==0.4.1
namex==0.0.8
nbformat==5.10.4
optree==0.14.1
orjson==3.10.16
pickleshare==0.7.5
pip-chill==1.0.3
pip-tools==7.5.2
plotly==6.0.0
pydot==4.0.1
qkeras==0.9.0
rich==13.9.4
rule4ml==0.2.0
scikit-image==0.25.2
seaborn==0.13.2
torchvision==0.21.0
